
IFC4x3/Sections/Domain specific data schemas/Schemas/IfcRoadDomain/DocSchema.xml
IFC4x3/Constants/m/MOBILENETWORK_0g1gGk3gvEXBIhMvyBXdMg.xml
IFC4x3/Constants/m/MOBILENETWORK_0g1gGk3gvEXBIhMvyBXdMg.xml
