<?xml version="1.0" encoding="utf-8"?>
<DocPropertyConstant xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="SPRING_2H9vcIynzS2AQiC98lDuMN" Name="SPRING" UniqueId="91279992-f31f-5c08-a6ac-30922f378597">
	<Documentation>A valve that is normally held in position by the pressure of a spring on a plate but that may be caused to open if the pressure of the fluid is sufficient to overcome the spring pressure</Documentation>
</DocPropertyConstant>
